* {
	font-family: "Orbitron", sans-serif;
	margin: 0;
	padding: 0;
}

.container{
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 2rem;
	padding-top: 3rem;
	background-color: #cecccc;
	height: 100vh;
}

.container h1 {
	color: #0da000;
}

.timer{
	display: flex;
	font-size: 45px;
	font-weight: bold;
	color: #333;
	border: 2px solid #000;
	padding: 5px;
	border-radius: 10px;
	width: 315px;
	height: 80px;
	background-color: #000;
}
.time{
	display: flex;
	align-items: center;
	justify-content: center;
	margin-right: 0;
	color: #f6f6f7;
	min-width: 90px;
}

.separator{
	padding: 0 6px;
	color: #8f949e;	
}

#milliseconds{
	font-size: 30px;
	color: #868c99;
}

.buttons{
	display: flex;
	gap: 1rem;
}

.btn{
	padding: 10px 20px;
	font-size: 18px;
	font-weight: bold;
	border-radius: 30px;
	cursor: pointer;
	border: 1px solid #ccc;
	transition: all 0.2s ease-in-out;
}

.btn:hover{
	 transform: scale(1.1);
}

#startBtn{
	background-color: #0da000;
	color: #fff;
}

#pauseBtn{
	background-color: rgb(255, 38, 0);
	color: #fff;
}

#resumeBtn{
	background-color: #0da000;
	color: #fff;
}

#pauseBtn, #resumeBtn{
	display: none;
}